<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>habits</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/global_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/todo_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/habits_styles.css') }}">

    <script type = "text/javascript" src = "{{ url_for('static', filename = 'JS/drop-down_main_menu.js') }}" ></script>
</head>
<body>
    <header>
        <nav class="navbar" id="navbar">
            <a class="app_logo">
                <i class="material-icons md-48">done_all</i>
                <h1>TODO List</h1>
            </a>
            
            <div class="desctop_navbar_buttons">
                <a href="/">Todo's</a>
                <a href="/habits">Habits</a>
                <a href="/trash">Trash</a>
                <a href="/logout">Sign out</a>
            </div>
            
            <button class="phone_navbar_button" onclick="get_drop_down_menu()"><i class="material-icons md-48">reorder</i></button>
        </nav>
    </header>

    <main>
        <a class="add_todo_button" href="#">Add Habit</a>

        <div class="habits-container">
            <div class="habit">
                <p class="habit-title">very very very very very very very long Task 1</p>

                <div class="habit-category">
                    <div class="bg"></div>
                    <div class="habit-categoty-text">easy</div>
                </div>

                <button class="habit-done-button">
                    <i class="material-icons">done_outline</i>
                </button>
                        
                <button class="habit-delete-button">
                    <i class="material-icons">delete</i>
                </button>
            </div>

            <div class="completed-habit">
                <p class="habit-title">Task 2</p>

                <div class="completed-habit-text">
                    <p>You can take a break from this task for two days</p>
                </div>

                <button class="habit-delete-button">
                    <i class="material-icons">delete</i>
                </button>
            </div>
            <div class="habit">
                <p class="habit-title">Task 3</p>

                <div class="habit-category">
                    <div class="bg"></div>
                    <div class="habit-categoty-text">medium</div>
                </div>
                
                <button class="habit-done-button">
                    <i class="material-icons">done_outline</i>
                </button>
                        
                <button class="habit-delete-button">
                    <i class="material-icons">delete</i>
                </button>
            </div>

            <div class="habit">
                <p class="habit-title">Task 4</p>

                <div class="habit-category">
                    <div class="bg"></div>
                    <div class="habit-categoty-text">medium</div>
                </div>
                
                <button class="habit-done-button">
                    <i class="material-icons">done_outline</i>
                </button>
                        
                <button class="habit-delete-button">
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </div>
    </main>

</body>
</html>