<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>habits</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/global_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/todo_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/habits_styles.css') }}">

    <script type = "text/javascript" src = "{{ url_for('static', filename = 'JS/drop-down_main_menu.js') }}" ></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'JS/add_item_form.js') }}" ></script>
</head>
<body>
    <header>
        <nav class="navbar" id="navbar">
            <a class="app_logo">
                <i class="material-icons md-48">done_all</i>
                <h1>TODO List</h1>
            </a>
            
            <div class="desctop_navbar_buttons">
                <a href="/">Todo's</a>
                <a href="/habits">Habits</a>
                <a href="/trash">Trash</a>
                <a href="/logout">Sign out</a>
            </div>
            
            <button class="phone_navbar_button" onclick="get_drop_down_menu()"><i class="material-icons md-48">reorder</i></button>
        </nav>
    </header>

    <main>
        <button class="add_todo_button" onclick="change_add_item_form_visibility_state('grid')">Add Habit</button>

        <div class="habits-container">
            <div class="habit">
                <p class="habit-title">very very very very very very very long Task 1</p>

                <div class="habit-category">
                    <div class="bg"></div>
                    <div class="habit-categoty-text">easy</div>
                </div>

                <div class="completed-habit-text">
                    <p>You can take a break from this task for two days</p>
                </div>

                <button class="habit-done-button">
                    <i class="material-icons">done_outline</i>
                </button>
                        
                <button class="habit-delete-button">
                    <i class="material-icons">delete</i>
                </button>
            </div>

            <div class="completed-habit">
                <p class="habit-title">Task 2</p>

                <div class="habit-category">
                    <div class="bg"></div>
                    <div class="habit-categoty-text">easy</div>
                </div>

                <div class="completed-habit-text">
                    <p>You can take a break from this task for two days</p>
                </div>

                <button class="habit-done-button">
                    <i class="material-icons">done_outline</i>
                </button>

                <button class="habit-delete-button">
                    <i class="material-icons">delete</i>
                </button>
            </div>

        </div>
    </main>

    <div class="gray_background" id="gray_background"></div>

    <form class="add_item_form" id="habit">
        <div class="item_name" id="title">
            <label for="item_title">New Habit Title</label>
            <input type="text" name="item_title" id="item_title" required>
        </div>

        <div class="item_name" id="periodicity">
            <label for="item_days">Periodicity (days)</label>
            <input type="number" name="item_title" id="item_days" required>
        </div>

        <div class="todo_category_select_form">
            <div>
                <input type="radio" id="category_of_habit_easy"
                         name="category_of_habit" value="easy" checked>
                <label for="category_of_habit_easy">Easy</label>
            </div>
            <div>
                <input type="radio" id="category_of_habit_medium"
                         name="category_of_habit" value="medium">
                <label for="category_of_habit_medium">Medium</label>
            </div>
            <div>
                <input type="radio" id="category_of_habit_hard"
                         name="category_of_habit" value="hard">
                <label for="category_of_habit_hard">Hard</label>
            </div>
        </div>

        <div class="add_item_buttons">
            <input class="button_to_cancel" id="button_to_cancel" type="button" onclick="change_add_item_form_visibility_state('none')" value="Cancel">
            <input class="button_to_submit" id="button_to_submit" type="submit" value="Add">
        </div>
    </form>

</body>
</html>