<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>trash</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/global_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/todo_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/thash_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/habits_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/login_register_form.css') }}">

    <script type="module" src = './static/JS/routing.js' ></script>
    <script type="module" src = './static/JS/todo_habit_adding.js' ></script>
    <script type="module" src = './static/JS/navbar.js' ></script>
    <script type="module" src = './static/JS/login-register_form_confirmation.js' ></script>
    <script type="module" src = './static/JS/drop-down_login_menu.js' ></script>
    <script type="module" src = './static/JS/drop-down_main_menu.js' ></script>
</head>
<body>
    <header id="header"></header>

    <main id="main_container"></main>
</body>
</html>