<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/global_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/login_register_form.css') }}">

    <script type = "text/javascript" src = "{{ url_for('static', filename = 'JS/drop-down_login_menu.js') }}" ></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'JS/login-register_form_confirmation.js') }}"></script>
</head>
<body>
    <header>
        <nav class="navbar" id="navbar">
            <a class="app_logo">
                <i class="material-icons md-48">done_all</i>
                <h1>TODO List</h1>
            </a>

            <div class="desctop_navbar_buttons_login">
                <a id="login_button" href="/login">Log in</a>
                <a id="signup_button" href="/register">Sign up</a>
            </div>

            <button class="phone_navbar_button" onclick="get_drop_down_menu()"><i class="material-icons md-48">reorder</i></button>
        </nav>
    </header>

    <form class="login-form" id="registration-form">
        <div class="username_field">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
        </div>

        <div class="password_field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>

        <div class="password_field">
            <label for="password_confirmation">Confirmation</label>
            <input type="password" name="password_confirmation" id="password_confirmation" required>
        </div>

        <input class="button_to_submit" type="submit" value="Log in">
    </form>
</body>
</html>