<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="CSS/global_style.css">
    <link rel="stylesheet" href="CSS/login_register_form.css">

    <script type="text/javascript" src="JS/drop-down_login_menu"></script>
</head>
<body>
    <div class="navbar" id="navbar">
        <a id="app_logo">
            <i class="material-icons md-48">done_all</i>
            <p>TODO List</p>
        </a>
        
        <div id="desctop_navbar_buttons_login">
            <a href="#">Log in</a>
            <a href="#">Sign up</a>
        </div>
        
        <button id="phone_navbar_button" onclick="get_drop_login_menu()"><i class="material-icons md-48">reorder</i></button>
    </div>

    <form class="login-form" id="login-form" method="post">
        <div class="username_field">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>

        <div class="password_field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
            
        <input class="button_to_submit" type="submit" value="Log in">
    </form>
</body>
</html>