<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo's</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="CSS/global_style.css">
    <link rel="stylesheet" href="CSS/todo_and_habits_styles.css">
</head>
<body>
    <div class="navbar" id="navbar">
        <a id="app_logo">
            <i class="material-icons md-48">done_all</i>
            <p>TODO List</p>
        </a>
        
        <div id="desctop_navbar_buttons">
            <a href="#">Todo's</a>
            <a href="#">Habits</a>
            <a href="#">Trash</a>
            <a href="#">Sign out</a>
        </div>
        
        <button id="phone_navbar_button" onclick="get_drop_login_menu()"><i class="material-icons md-48">reorder</i></button>
    </div>

    <main>
        <div class="todo-container">
            
            <div class="todo-title" id="important">
                <p>Important</p>
            </div>
            <div class="todo-title" id="not-important">
                <p>Not Important</p>
            </div>
            <div class="todo-title" id="urgent">
                <p>Urgent</p>
            </div>
            <div class="todo-title" id="not-urgent">
                <p>Not Urgent</p>
            </div>

            <section class="todo-category" id="important-urgent">
                <div class="todo-item">
                    <p class="todo-item-title">Todo 1</p>
                    <button class="todo-item-delete-button">
                        <i class="material-icons">delete</i>
                    </button>
                    <button class="todo-item-done-button">
                        <i class="material-icons">done_outline</i>
                    </button>
                </div>

                <div class="complited-todo-item">
                    <p class="todo-item-title">Complited todo</p>
                    <button class="todo-item-delete-button">
                        <i class="material-icons">delete</i>
                    </button>
                </div>

                <div class="todo-item">
                    <p class="todo-item-title">Todo 3</p>
                    <button class="todo-item-delete-button">
                        <i class="material-icons">delete</i>
                    </button>
                    <button class="todo-item-done-button">
                        <i class="material-icons">done_outline</i>
                    </button>
                </div>
            </section>

            <section class="todo-category" id="not-important-urgent">
            </section>

            <section class="todo-category" id="important-not-urgent">
            </section>

            <section class="todo-category" id="not-important-not-urgent">
                <div class="todo-item">
                    <p class="todo-item-title">Todo 4</p>
                    <button class="todo-item-delete-button">
                        <i class="material-icons">delete</i>
                    </button>

                    <button class="todo-item-done-button">
                        <i class="material-icons">done_outline</i>
                    </button>
                </div>
            </section>
        </div>

        <a href="#">Add Todo</a>
    </main>
</body>
</html>