@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body, html {
	width: auto;
    background-color: rgba(209, 205, 185, 1);
}

.navbar {
	display: grid;
	grid-template-columns: auto 1fr;
    background-color: rgba(221, 76, 14, 0.59);
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.075);
    height: 90px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 25px;
}

.app_logo {
	display: grid;
	text-align: center;
	font-size: 37px;
	padding: 13px 0;
}

.app_logo > i {
	font-size: 48px;
	grid-row: 1;
}

.app_logo > p {
	margin-left: 10px;
	grid-row: 1;
}

.desctop_navbar_buttons {
	padding-left: 10%;
	display: grid;
	grid-template-columns: auto auto auto auto 1fr;
}

.desctop_navbar_buttons_login {
	display: block;
	margin-left: auto;
	justify-content: end; 
	padding: 25px 10px;
}

.desctop_navbar_buttons_login > a, .desctop_navbar_buttons > a {
	text-decoration: none;
	color: black;
	padding: 25px 10px;
}

.desctop_navbar_buttons_login > a:hover, .desctop_navbar_buttons > a:hover {
  	color: rgba(172, 194, 32, 1);
}

.phone_navbar_button {
	display: none;
}

.button_to_submit {
	margin-top: 30px;
	padding: 5px;
	background-color: inherit;
	border-radius: 8px;
	border: none; 
	font-size: 30px;
}

.button_to_submit:hover {
	background-color: rgba(172, 194, 32, 1);
}


@media (max-width: 980px) {
	.navbar {
		display: grid;
		grid-template-columns: auto 1fr;
		height: 180px;
	}

	.app_logo {
		grid-row: 1;
		grid-column: 1;
		padding: 30px 0;
		font-size: 60px;
	}

	.app_logo > p {
		margin: 20px 30px;
	}

	.app_logo > i {
		font-size: 120px;
	}

	.phone_navbar_button {
		display: block;
		grid-row: 1; 
		grid-column: 2;
		margin-left: auto;
		justify-content: end;
		align-self: start;
	}

	.phone_navbar_button > i {
		grid-row: 1;
		grid-column: 2;
		font-size: 120px;
		padding: 30px 0;
	}

	.desctop_navbar_buttons_login {
		grid-row: 2; 
		display: none;
		position: fixed;
		width: inherit;
		top: 140px;
		padding-right: 20%;
	  	grid-template-columns: 1fr 1fr;
	  	text-align: center;
	  	font-size: 50px;
	}

	.desctop_navbar_buttons {
		grid-row: 2; 
		grid-column-start: 1;
		grid-column-end: 2;
		display: none;
		position: fixed;
		width: inherit;
		top: 140px;
		padding-left: 0%;
		padding-right: 20%;
	  	grid-template-columns: 2fr 2fr 2fr 2.5fr;
	  	text-align: center;
	  	font-size: 45px;
	}

	.button_to_submit {
		font-size: 50px;
	}

}
