@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body, html {
	width: auto;
    background-color: rgba(209, 205, 185, 1);
}

.navbar {
	display: inline-block;
    background-color: rgba(221, 76, 14, 0.59);
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.075);
    display: flex;
    height: 90px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 25px;
}

#app_logo {
	display: inline-flex;
	text-align: center;
	font-size: 37px;
	padding: 13px 0;
}

#app_logo > i {
	font-size: 48px;
}

#app_logo > p {
	margin-left: 10px;
}

#desctop_navbar_buttons {
	margin-left: 50px;
	padding: 25px 10px;
}

#desctop_navbar_buttons_login {
	padding: 25px 10px;
	margin-left: auto;
	float: right;
}

#desctop_navbar_buttons_login > a, #desctop_navbar_buttons > a {
	padding: 10px;
	text-decoration: none;
	color: black;
}

#desctop_navbar_buttons_login > a:hover, #desctop_navbar_buttons > a:hover {
  	color: rgba(172, 194, 32, 1);
}

#phone_navbar_button {
	display: none;
}


@media (max-width: 980px) {
.navbar {
	height: 10vh;
}

#app_logo {
	padding: 30px 0;
	font-size: 60px;
}

#app_logo > p {
	margin: 20px 30px;
}

#app_logo > i {
	font-size: 120px;
}

#phone_navbar_button {
	display: block;
	height: 10vh;
	margin-left: auto;
	float: right;
}

#phone_navbar_button > i {
	font-size: 120px;
	padding: 30px 0;
}

#desctop_navbar_buttons_login {
	display: none;
	position: fixed;
	width: inherit;
	top: 140px;
	padding-right: 20%;
  	grid-template-columns: 1fr 1fr;
  	text-align: center;
  	font-size: 50px;
}

#desctop_navbar_buttons {
	display: none;
	position: fixed;
	width: inherit;
	top: 140px;
	margin-left: 0;
	padding-right: 20%;
  	grid-template-columns: 2fr 2fr 2fr 2.5fr;
  	text-align: center;
  	font-size: 45px;
}

}
