@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body, html {
	width: auto;
    background-color: rgba(209, 205, 185, 1);
}

body {
    text-align: center;
}

.navbar {
	display: grid;
	grid-template-columns: auto 1fr;
    background-color: rgba(221, 76, 14, 0.59);
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.075);
    height: 90px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 25px;
}

.app_logo {
	display: grid;
	text-align: center;
	font-size: 37px;
	padding: 13px 0;
}

.app_logo > i {
	font-size: 48px;
	grid-row: 1;
}

.app_logo > h1 {
	font-size: 38px;
	margin-left: 10px;
	grid-row: 1;
}

.desctop_navbar_buttons {
	padding-left: 10%;
	display: grid;
	grid-template-columns: auto auto auto auto 1fr;
}

.desctop_navbar_buttons_login {
	display: block;
	margin-left: auto;
	justify-content: end; 
	padding: 25px 10px;
}

.desctop_navbar_buttons_login > a, .desctop_navbar_buttons > a {
	text-decoration: none;
	color: black;
	padding: 25px 10px;
}

.desctop_navbar_buttons_login > a:hover, .desctop_navbar_buttons > a:hover {
  	color: rgba(172, 194, 32, 1);
}

.phone_navbar_button {
	display: none;
}

.gray_background {
	background: rgba(1,1,1,0.7);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}

.button_to_submit, .button_to_cancel {
	margin-top: 30px;
	padding: 5px;
	border-radius: 8px;
	border: none; 
	font-size: 30px;
}

.button_to_cancel + .button_to_submit {
    margin-left: 50px;
}

.add_item_form {
	display: grid;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
    padding: 60px;
    margin: auto;
	text-align: center;
	width: 750px;
	height: 400px;
	border-radius: 8px;
	background: rgba(232, 161, 131, 1);
	z-index: 3;
}

.item_name {
	grid-row: 1;
	margin-top: 15px;
}

.item_name > input {
	font-size: 30px;
	width: 342px;
	height: 48px;
	background: rgba(221, 76, 14, 0.42);
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	border-width: 0;
	margin: 10px;
}

.item_name > label {
	font-size: 30px;
	width: 240px;
}

.add_item_buttons {
	grid-row: 3;
}

.button_to_submit {
    background-color: rgba(130, 147, 31, 1);
}

.button_to_submit:hover {
	background-color: rgba(28, 141, 53, 1);
}

.button_to_cancel {
    background-color: rgba(193, 95, 64, 1);
}


.button_to_cancel:hover {
    background-color: rgba(141, 55, 28, 1);
}

.todo_category_select_form {
	margin-top: 20px;
	font-size: 25px;
	grid-row: 2;
}

.todo_category_select_form > div > input {
	width: 18px;
	height: 18px;
	margin-right: 10px;
}


@media (max-width: 980px) {
	.navbar {
		display: grid;
		grid-template-columns: auto 1fr;
		height: auto;
	}

	.app_logo {
		grid-row: 1;
		grid-column: 1;
		padding: 30px 0;
		font-size: 60px;
	}

	.app_logo > h1 {
	    font-size:60px;
		margin: 20px 30px;
	}

	.app_logo > i {
		font-size: 120px;
	}

	.phone_navbar_button {
		display: block;
		grid-row: 1; 
		grid-column: 2;
		margin-left: auto;
		justify-content: end;
		align-self: start;
	}

	.phone_navbar_button > i {
		grid-row: 1;
		grid-column: 2;
		font-size: 120px;
		padding: 30px 0;
	}

	.desctop_navbar_buttons_login, .desctop_navbar_buttons {
		grid-row: 2; 
		grid-column: span 2;
		display: none;
		padding: 25px 0;
	}

	.desctop_navbar_buttons_login {
		width: inherit;
		justify-content: center;
	  	grid-template-columns: repeat(2, auto); 
	  	text-align: center;
	  	font-size: 50px;
	}

	.desctop_navbar_buttons_login > #login_button{
		margin-right: 120px;
	}

	.desctop_navbar_buttons {
		top: 140px;
		grid-template-columns: repeat(4, auto); 
	  	width: inherit;
	  	text-align: center;
	  	font-size: 45px;
	}

	.add_item_form {
		height: 600px;
		width: 900px;
	}

	.item_name > label {
		font-size: 50px;
		width: 500px;
	}

	.item_name > input {
		height: 70px;
		width: 500px;
	}

	.button_to_submit, .button_to_cancel {
		font-size: 50px;
	}

	.todo_category_select_form {
		font-size: 40px;
	}

	.todo_category_select_form > div > input {
		width: 30px;
		height: 30px;
		margin-right: 30px;
	}
}
