main {
	text-align: center;
	display: block;
	margin-top: 40px;
}


.todo-container {
	margin-bottom: 40px;
	margin-right: 10%;
	margin-left: 10%;
	display: grid;
	grid-template-columns: auto 7fr 7fr;
	background: rgba(221, 76, 14, 0.42);
}

.complited-todo-item, .todo-item {
	display: flex;
	align-items: center;
  	justify-content: space-between;
	width: 100%;
	height: auto;
	margin-top: 10px;
	padding: 20px 25px;
	font-size: 25px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	border-radius: 12px;
}

.todo-item {
	background: rgba(221, 76, 14, 1);
	opacity: 0.9;
}

.complited-todo-item {
	background: rgba(14, 221, 35, 1);
	opacity: 0.8;
}

.complited-todo-item .todo-item-button--done {
	display: none;
}

.todo-item-title {
	max-width: 280px;
}

.todo-item__controls {
    display: grid;
}

.todo-item-button {
	margin: 10px;
	width: 40px;
	height: 40px;
	background: transparent;
	border: none;
	font-size: 25px;
}

.todo-item-button--done + .todo-item-button--delete {
	margin-left: 10px;
}

.todo-item-button--done {
    grid-row: 1;
	grid-column: 1;
}

.todo-item-button--delete {
    grid-row: 1;
	grid-column: 2;
}

.todo-item-button--done > i {
	color: rgba(22, 204, 40, 1);
}

.todo-item-button--delete > i {
	color: rgba(60, 37, 37, 1);
}

.todo-item-button--done > i:hover {
	color: rgba(5, 75, 33, 1);
}

.todo-item-button--delete > i:hover {
	color: rgba(0, 0, 0, 1);
}

#important-urgent.todo-title-phone, #not-important-urgent.todo-title-phone, #important-not-urgent.todo-title-phone, #not-important-not-urgent.todo-title-phone {
	display: none;
}

#important.todo-title, #not-important.todo-title, #urgent.todo-title, #not-urgent.todo-title {
	text-align: center;
	font-size: 25px;
}

#important.todo-title, #not-important.todo-title {
	height: 65px;
	padding: 3%; 
}

#urgent.todo-title, #not-urgent.todo-title {
	margin-top: 60%;
}

#important.todo-title {
	grid-row: 1;
	grid-column: 2;
}

#not-important.todo-title {
	grid-row: 1;
	grid-column: 3;
}

#urgent.todo-title {
	grid-row: 2;
	grid-column: 1;
}

#not-urgent.todo-title {
	grid-row: 3;
	grid-column: 1;
}

#important-urgent.todo-category, #not-important-urgent.todo-category, #important-not-urgent.todo-category, #not-important-not-urgent.todo-category {
	padding: 3%;
	height: 300px;
	background: rgba(209, 205, 185, 1);
	border: 2px solid black;
	overflow-y: auto;
}

#important-urgent.todo-category {
	grid-row: 2;
	grid-column: 2;
}

#not-important-urgent.todo-category {
	grid-row: 2;
	grid-column: 3;
}

#important-not-urgent.todo-category {
	grid-row: 3;
	grid-column: 2;
}

#not-important-not-urgent.todo-category {
	grid-row: 3;
	grid-column: 3;
}

#down.add_todo_button {
	display: inline-block;
}

#up.add_todo_button {
	display: none;
}

.add_todo_button {
	text-decoration: none;
	color: black;
	padding: 10px;
	background: rgba(221, 76, 14, 0.59);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 17px;
	font-size: 20px;
	border: none;
}

.add_todo_button:hover {
	background: rgba(221, 76, 14, 0.8);
}


@media (max-width: 980px) {

	main {
		margin-top: 50px;
	}

	.todo-container {
		margin-top: 50px;
		grid-template-columns: 1fr;
		background: rgba(209, 205, 185, 1);
		border: none;
	}

	.todo-item-title {
		max-width: 500px;
	}

	#important.todo-title, #not-important.todo-title, #urgent.todo-title, #not-urgent.todo-title {
		display: none;
	}

	#important-urgent.todo-title-phone, #not-important-urgent.todo-title-phone, #important-not-urgent.todo-title-phone, #not-important-not-urgent.todo-title-phone {
		display: block;
		background: rgba(221, 76, 14, 0.42);
		text-align: center;
		height: 130px;
		font-size: 40px;
		padding: 5%;
	}

	#not-important-urgent.todo-title-phone, #important-not-urgent.todo-title-phone, #not-important-not-urgent.todo-title-phone {
		margin-top: 80px;
	}

	#important-urgent.todo-title-phone {
		grid-row: 1;
		grid-column: 1;
	}

	#not-important-urgent.todo-title-phone {
		grid-row: 3;
		grid-column: 1;
	}

	#not-important-urgent.todo-title-phone {
		grid-row: 5;
		grid-column: 1;
	}

	#not-important-not-urgent.todo-title-phone {
		grid-row: 7;
		grid-column: 1;
	}

	.complited-todo-item, .todo-item {
		height: auto;
		margin-top: 20px;
		font-size: 35px;
		padding: 20px 25px;
	}

	#important-urgent.todo-category, #not-important-urgent.todo-category, #important-not-urgent.todo-category, #not-important-not-urgent.todo-category {
		height: auto;
		max-height: 500px;
	}

	#important-urgent.todo-category {
		grid-row: 2;
		grid-column: 1;
	}

	#not-important-urgent.todo-category {
		grid-row: 4;
		grid-column: 1;
	}

	#important-not-urgent.todo-category {
		grid-row: 6;
		grid-column: 1;
	}

	#not-important-not-urgent.todo-category {
		grid-row: 8;
		grid-column: 1;
	}

	.todo-item-button--delete, .todo-item-button--done {
		margin-left: 20px;
		width: 60px;
		height: 60px;
		border: none;
		font-size: 25px;
	}

	.todo-item-button--done > i, .todo-item-button--delete > i {
		font-size: 50px;
	}

	.todo-item-button--done > i:hover, .todo-item-button--delete > i:hover {
		font-size: 30px;
	}

	.add_todo_button {
		padding: 20px;
		border-radius: 17px;
		font-size: 30px;
	}

	#down.add_todo_button {
		display: none;
	}

	#up.add_todo_button {
		display: inline-block;
	}

}